body {
    background-color: var(--color-light-grey);
}

.banner__text {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;;
    color: var(--color-dark);
}

.banner__text-paragraph {
    font-size: 18px;
    padding-right: 150px;
    padding-left: 150px;
}

.about__img {
    position: absolute;
    bottom: -50px;
}