* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    }


*, *::after, *::before {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --color-primary: #444;
    --color-accent: #55ccae;
    --color-light: #ddd;
    --color-dark: #222;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}