body {
    background-color: var(--color-light-grey);
}

.banner__text {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;;
    color: var(--color-dark);
}

.banner__text-header {
    font-size: 38px;
    font-weight: 600;
}

.banner__text-paragraph {
    font-size: 18px;
    padding-right: 150px;
    padding-left: 150px;
}

.registration {
    padding: 40px 20px;
    margin-bottom: 40px;
    background-color: var(--color-primary);
    width: 500px;
    min-height: 440px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    top: 100px;
    border-radius: 5px;
}

.registartion__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registartion__title {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--color-dark);
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

.registartion__paragraph  {
    color: var(--color-primary);
}

.registartion__input {
    color: var(--color-dark);
    font-weight: 400;
    width: 320px;
    height: 40px;
    margin: 10px;
    padding: 5px 25px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.registartion__input:focus {
    outline: 3px solid var(--color-dark-green);
    color: var(--color-dark);
    font-weight: 600;
}

.registartion__button {
    background-color: var(--color-accent);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    margin-top: 30px;
    z-index: 2;
    transition: 1.5s;
    height: 45px;
    width: auto;
    min-width: 320px;
    transition: all 0.3s ease-in-out;
}

.registartion__button:hover {
    color: white;
    background-color: var(--color-dark-green);;
}

.registartion__img {
    position: absolute;
    bottom: 0px;
    margin-left: 35%;
}

.registartion__img-item {
    position: absolute;
}

@media only screen and (max-width: 991px) {
    .registration {
        padding: 40px 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        max-width: 500px;
        width: 100%;
        height: auto;
        top: 100px;
    }
    
    .registartion__img {
        margin-right: auto;
        margin-left: auto;
        width: 350px;
        right: 290px;
        top: 90px;
        bottom: none;
    }

    .banner__text {
        margin-top: 265px;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 766px) {
    .registration {
        padding: 40px 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        max-width: 500px;
        width: 100%;
        height: auto;
        top: 100px;
    }
    
    .registartion__img {
        position: relative;
        margin-right: auto;
        margin-left: auto;
        width: 300px;
        right: 0px;
        top: 90px;
        bottom: none;
    }

    .banner__text {
        margin-top: 235px;
        margin-bottom: 40px;
    }
    
    .banner__text-header {
        font-size: 26px;
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .banner__text-paragraph {
        font-size: 16px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .registartion__input {
        width: 100%;
        max-width: 320px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .registartion__button {
        width: 100%;
        max-width: 320px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 560px) {
    .registration {
        padding: 40px 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        max-width: 500px;
        width: 100%;
        height: auto;
        top: 100px;
    }
    
    .registartion__img {
        margin-right: auto;
        margin-left: auto;
        width: 300px;
        right: 0px;
        top: 90px;
        bottom: none;
    }

    .banner__text {
        margin-top: 235px;
        margin-bottom: 40px;
    }
    
    .banner__text-header {
        font-size: 26px;
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .banner__text-paragraph {
        font-size: 16px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .registartion__input {
        width: 100%;
        max-width: 320px;
        min-width: none !important;
        margin-left: 10px;
        margin-right: 10px;
    }

    .registartion__button {
        width: 100%;
        max-width: 320px;
        min-width: none !important;
        margin-left: 10px;
        margin-right: 10px;
    }
}

